<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Shop Homepage - Start Bootstrap Template</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="./promotion.component.css" rel="stylesheet" />
</head>
<body>
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Promotion</h1>
    </div>
  </div>
</header>
<!-- Section-->
<section class="py-5">
  <h2>Liste des promotions</h2>
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <!-- Loop through promotions and create cards -->
      <div *ngFor="let promotion of promotions" class="col">
        <div class="card h-100">
          <!-- Sale badge-->
          <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">{{promotion.status}}</div>
          <!-- Product image-->
          <img style="width: 100%; height: 190px" class="card-img-top" src="https://media.gqmagazine.fr/photos/64551119ce0c708b2278c458/4:3/w_5120,h_3840,c_limit/chris-henry-tV8yaU09t7w-unsplash.jpg" alt="...">
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{promotion.uuid}}</h5>
              <!-- Product reviews-->
              <div class="d-flex justify-content-center small text-warning mb-2">
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
              </div>
              <!-- Product price-->
              <span class="text-muted text-decoration-line-through">{{promotion.percentage}}</span>
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div *ngIf="promotion.status !== 'accepted' && promotion.status !== 'refused'">
              <div class="text-center"><a class="btn btn-outline-dark mt-auto" (click)="Accepted(promotion.uuid, promotion.percentage)">Accepter</a></div>
              <div class="text-center"><a class="btn btn-outline-dark mt-auto" (click)="Refused(promotion.uuid, promotion.percentage)">Refuser</a></div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of loop -->
    </div>
  </div>
</section>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
