<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Shop Homepage - Start Bootstrap Template</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="./produit.component.css" rel="stylesheet" />
</head>
<body>
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Produits</h1>
    </div>
  </div>
</header>
<!-- Section-->
<section class="py-5">
  <h2>Liste des Produits</h2>
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div *ngFor="let product of pagedProducts | paginate: { itemsPerPage: 3, currentPage: p, id: 'paginationId' }" class="col mb-5">
        <div class="card h-100">
          <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">{{ product.name }}</div>
          <img style="width: 100%; height: 190px" class="card-img-top" src="{{product.picture}}" alt="...">
          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="fw-bolder">{{product.brand}}</h5>
              <div class="d-flex justify-content-center small text-warning mb-2">
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
              </div>
              <span class="text-muted text-decoration-line-through"></span>
              {{product.price}}$
            </div>
          </div>

          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#yourModalId">
            Add Promotion
          </button>

          <div class="modal fade" id="yourModalId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <!-- Your existing modal code -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="p = $event" id="paginationId"></pagination-controls>
</section>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
